.--embedded-chat-export-selector-channel {
    width: 25px!important;
    height: 25px!important;
}

.animate-channel-item:has(.--embedded-chat-export-selector-channel) {
    display: grid!important;
    grid-template-columns: 25px 1fr;
}

.--embedded-chat-export-selector-post {
    display: block!important;
    width: 30px!important;
    height: 30px!important;
    margin-top: 20px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.media-left:has(.--embedded-chat-export-selector-post) {
    display: block!important;
}

.--embedded-chat-export-selector-comment {
    display: block!important;
    width: 20px!important;
    height: 20px!important;
    margin-top: 10px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.media-left:has(.--embedded-chat-export-selector-comment) {
    display: block!important;
}
