.--embedded-chat-export-selector-channel {
    width: 25px!important;
    height: 25px!important;
}

.animate-channel-item:has(.--embedded-chat-export-selector-channel) {
    display: grid!important;
    grid-template-columns: 25px 1fr;
}
